---
import clsx from "clsx";
import ExternalLink from "./external-link.astro";

const pathname = Astro.url.pathname;
---

<footer class="py-4 px-4 sm:px-12 w-full fixed bottom-0 flex items-center gap-4 sm:gap-8 bg-zinc-900">
    <div class="flex gap-1">
        <ExternalLink href="/" openNewTab={false}>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" class="w-6 h-6 text-zinc-500 group-hover:text-zinc-100">
                <title>Home</title>
                <path fill="currentColor" d="M12 2.1L1 12h3v9h6v-6h4v6h6v-9h3L12 2.1z"/>
            </svg>
        </ExternalLink>
    </div>

    <ExternalLink href="/exhibitions" openNewTab={false}>Exhibitions</ExternalLink>
    <ExternalLink href="/map" openNewTab={false}>Map</ExternalLink>
    <ExternalLink href="/events" openNewTab={false}>Events</ExternalLink>
    <ExternalLink href="/about" openNewTab={false}>About</ExternalLink>
</footer>
